# ─────────────────────────────────────────────────────────────────────────────
# API Gateway — Environment Variables
# Copy to .env and configure for your environment
# ─────────────────────────────────────────────────────────────────────────────

# Server Port
PORT=3333

# JWT Secret for cookie and authorization header verification (must match auth-service)
JWT_SECRET=super-secret-local-jwt-key

# Internal Microservices gRPC Endpoints
AUTH_SERVICE_URL=0.0.0.0:5000
USER_SERVICE_URL=0.0.0.0:5001
COURSE_SERVICE_URL=0.0.0.0:5002
MEDIA_SERVICE_URL=0.0.0.0:5004
AI_SERVICE_URL=0.0.0.0:50054
